@tailwind base;
@tailwind components
@tailwind utility;


@font-face {
  font-family: 'Gotham Narrow';
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/GothamNarrow-Light.woff2") format("woff2"), url("/fonts/GothamNarrow-Light.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Narrow';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/GothamNarrow-Book.woff2") format("woff2"), url("/fonts/GothamNarrow-Book.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Narrow';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/GothamNarrow-Medium.woff2") format("woff2"), url("/fonts/GothamNarrow-Medium.woff") format("woff"); }

@layer base {
  html {
	  font-family: 'Gotham Narrow'; 
  }
}