---
import TitleBlock from "./TitleBlock.astro";
const { colorOverride } = Astro.props;

const overrideColorStyle = colorOverride == "" ? "" : "color: " + colorOverride;
---

<div class="w-full py-10 bg-slate-100">
  <div class="mx-auto px-5 max-w-7xl">
    <TitleBlock
      behaviour="Section"
      {...Astro.props}
      overrideColorStyle={overrideColorStyle}
    />
  </div>
</div>