---
import getYouTubeID from "get-youtube-id";


const { videoUrl, width, aspectRatio, autoplay } = Astro.props;

let blockClassWidth = ["block", "w-full"];
if (width != 100) blockClassWidth = ["block", "w-[" + width + "]"];

let videoClassList = ["aspect-w-16", "aspect-h-9"];
if (aspectRatio.indexOf("4:3") > 0)
	videoClassList = ["aspect-w-4", "aspect-h-3"];
if (aspectRatio.indexOf("Portait") > 0)
	videoClassList = ["aspect-w-9", "aspect-h-16"];
if (aspectRatio.indexOf("Square") > 0)
	videoClassList = ["aspect-w-1", "aspect-h-1"];

const videoId = getYouTubeID(videoUrl);

const videoEmbedURL = "https://www.youtube.com/embed/" + videoId;
if (autoplay) videoURL += "?autoplay=1";
---
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
<div class:list={blockClassWidth}>
	<div class:list={videoClassList}>
		<lite-youtube videoid={videoId} autoload posterquality="maxresdefault"></lite-youtube>
	</div>
</div>
