---
import type { ContentType } from "contentful";
import ContentfulComponent from "contentful-astro/ContentfulComponent.astro";

let {
  sectionWidth,
  sectionStyle,
  sectionMarginTop,
  sectionMarginBottom,
  contentWidth,
  contentBlocks,
  parent,
  parentStyle,
} = Astro.props;
---

<section
  class:list={[
    "section" + sectionWidth,
    "section" + sectionStyle,
    "sectionMT" + sectionMarginTop,
    "sectionMB" + sectionMarginBottom,
  ]}
>
  <div class:list={["content", "content" + contentWidth]}>
    <>
      {
        contentBlocks?.map((comp: ContentType) => {
          comp.fields["parent"] = "Section";
          comp.fields["parentStyle"] = sectionStyle;
          return (
            <ContentfulComponent
              type={comp.sys.contentType.sys.id}
              {...comp.fields}
            />
          );
        })
      }
    </>
  </div>

  <style>
    section {
      @apply w-full antialiased m-0;
    }
    .sectionStandard {
      @apply mx-auto px-5 lg:px-16 2xl:px-0 max-w-7xl;
    }
    .sectionFullwidth {
      @apply mx-0 px-0 max-w-full;
    }

    .sectionMTStandard {
      @apply pt-9;
    }
    .sectionMBStandard {
      @apply pb-4;
    }

    .sectionMTNone {
      @apply pt-0;
    }
    .sectionMBNone {
      @apply pb-0;
    }

    .sectionMTSmall {
      @apply pt-1;
    }
    .sectionMBSmall {
      @apply pb-1;
    }

    .sectionMTLarge {
      @apply pt-20;
    }
    .sectionMBLarge {
      @apply pb-20;
    }

    .sectionLight {
      @apply bg-gray-200;
    }
    .sectionDark {
      @apply bg-black;
    }

    .content {
      @apply mx-auto w-full 
    }
    .contentNarrow {
      @apply max-w-xl;
    }
    .sectionFullwidth .contentNarrow {
      @apply px-5 lg:px-32 2xl:px-0
    }
    .contentStandard {
      @apply md:max-w-7xl;
    }
    .sectionFullwidth .contentStandard {
      @apply w-full px-5 lg:px-16 2xl:px-0
    }
    .contentFullwidth {
      @apply w-full;
    }
  </style>
</section>
