---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/vue/Hero.vue";
---

<BaseLayout>
	<Hero
    Image="https://ajrctguoxo.cloudimg.io/v7/https%3A%2F%2Fwww.aucklandmuseum.com%2Fgetmedia%2Fd3403c58-c000-4d6f-900d-82039ce572db%2FAM_Secrets_of_Stonehenge_WEB_1348x759px.jpg?w=1500&h=833&org_if_sml=1&ci_url_encoded=1&force_format=webp%2Cjpeg&func=cropfit&gravity=face"
    Title="Secrets of Stonehenge"
    Subtitle="Ancient mysteries. Recent discoveries."
    BoldSubtitle="Now open"
    Content="<p>Delve into the science, history and mythology of Stonehenge - discover the secrets of what it meant to the people who built it, and what it means to the world today.</p><p><a class='btn reverse' href='/Visit/Exhibitions/Secrets-of-Stonehenge' target='_self'>Learn more</a></p>"
    ContentBehaviour="right"
    />  
  <Hero
  Image="https://ajrctguoxo.cloudimg.io/v7/https%3A%2F%2Fwww.aucklandmuseum.com%2Fgetmedia%2F4c6c0d02-6ef8-418b-b140-2686f61ca77a%2FAM_WEB_TREX2_1348x759px.jpg?org_if_sml=1&ci_url_encoded=1&force_format=webp%2Cjpeg&func=cropfit&gravity=face"
  Title="Double trouble"
  Subtitle="Huge news"
  BoldSubtitle="TE AO MĀRAMA SOUTH ATRIUM"
  Content="<p>First there was Peter, now meet Barbara. Don't miss two of the rarest, real T. rex skeletons ever discovered in a world-first only at Auckland Museum.</p><p><a class='btn reverse' href='https://www.aucklandmuseum.com/visit/exhibitions/trex-peter' target='_self'>Learn more</a></p>"
  ContentBehaviour="left"
  />
</BaseLayout>
