---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import ContentfulComponent from "contentful-astro/ContentfulComponent.astro";
//console.log(Astro.props);
let {
  imageMetadata,
  title,
  subtitle,
  boldSubtitle,
  content,
  contentAlignment,
  size,
  style,
  parent,
  parentStyle
} = Astro.props;

imageMetadata.fields["size"] = size;
---

<div
  class:list={[
    "wrapper",
    "hero" + style,
    "hero" + size,
    "hero" + contentAlignment,
  ]}
>
  <div class={"image"}>
    <ContentfulComponent
      type={imageMetadata.sys.contentType.sys.id}
      {...imageMetadata.fields}
    />
  </div>
  <div class:list={["content"]}>
    <div class="h-full flex flex-col justify-center">
      <div>
        <>
          {
            content?.map((comp: ContentType) => {
              comp.fields["parent"] = "Hero" + size;
              comp.fields["parentStyle"] = style;
              return (
                <ContentfulComponent
                  type={comp.sys.contentType.sys.id}
                  {...comp.fields}
                />
              );
            })
          }
        </>
      </div>
    </div>
  </div>
</div>

<style>
  .heroDark .content,
  .heroDark .content,
  .heroDark {
    @apply bg-black text-white;
  }

  .heroLight .content,
  .heroLight .content,
  .heroLight {
    @apply bg-gray-200 text-black;
  }

  .wrapper {
    @apply md:flex md:flex-row w-full;
  }

  .heroLarge.heroLeft .image {
    @apply w-full md:flex-grow md:-ml-[50%] order-2 z-0;
  }
  .heroLarge.heroRight .image {
    @apply w-full md:flex-grow md:-mr-[50%] z-0;
  }

  .heroLarge .content {
    @apply pt-10 pb-10 pl-[24px] pr-[24px] lg:pl-16 lg:pr-16 md:bg-opacity-50 md:w-6/12;
  }
  .heroLarge.heroLeft .content {
    @apply z-10;
  }
  .heroLarge.heroRight .content {
    @apply z-10;
  }

  .heroMedium .content {
    @apply pt-10 pb-10 pl-5 pr-5 lg:pl-16 lg:pr-16 md:bg-opacity-50 md:w-6/12;
  }
  .heroMedium .image {
    @apply md:w-6/12;
  }

  .heroMedium.heroLeft .image {
    @apply order-1;
  }
</style>
