---
---

<div
  class="text-white mb-10 font-bold uppercase"
  set:html={Astro.props.boldSubtitle}
/>
<h3
  class="max-w-full font-thin text-gray-400"
  set:html={Astro.props.subtitle}
/>
<div class="text-white">
  <h2 class="font-light" set:html={Astro.props.title} />
</div>


<style>
  h2 {
    @apply text-4xl md:text-4xl lg:text-[64px] lg:leading-[75px] mb-10 md:mb-12 lg:mb-20;
  }

  h3 {
    @apply text-3xl md:text-[28px] lg:text-[40px] lg:leading-tight mb-2 md:mb-2 lg:mb-1;
  }
</style>
