---
const { title, subtitle, boldSubtitle, parent, style } = Astro.props;
---
<div class="max-w-full">
<div class:list={["title", "title" + style, "title" + parent ? "" : parent]}>
  <div class="mb-10 font-bold uppercase" set:html={Astro.props.boldSubtitle} />
  <h3 set:html={subtitle} />
  <div>
    <h2 set:html={title} />
  </div>
</div>
</div>
<style>
  .title {
    @apply mx-auto px-5 lg:px-16 2xl:px-0 max-w-7xl;
  }
  h2 {
    @apply text-inherit font-normal text-4xl md:text-5xl lg:text-6xl lg:leading-tight;
  }
  h3 {
    @apply font-thin text-gray-400 text-3xl md:text-4xl lg:text-5xl lg:leading-tight;
  }
  .titleLight {
    @apply text-black;
  }
  .titleDark {
    @apply text-white;
  }

  .titleHeroLarge h2 {
    @apply text-inherit font-thin text-4xl md:text-4xl xl:text-6xl xl:leading-tight mb-10 md:mb-5 xl:mb-20;
  }

  .titleHeroLarge h3 {
    @apply font-thin text-gray-400 text-3xl md:text-3xl xl:text-3xl xl:leading-tight mb-2 md:mb-2 xl:mb-0;
  }

  .titleHeroMedium h2 {
    @apply text-inherit font-thin text-3xl md:text-4xl xl:leading-tight mb-10 md:mb-12 xl:mb-20;
  }

  .titleHeroMedium h3 {
    @apply font-thin text-gray-400 text-2xl xl:text-3xl xl:leading-tight mb-2 md:mb-2 xl:mb-1;
  }
</style>
