---
import SearchIcon from "components/vue/SearchIcon.vue"
import TopNav from "components/vue/TopNav.vue"
import OpeningHours from "components/vue/OpeningHours.vue"
import MegaNav from "components/vue/MegaNav.vue";
import * as contentfulUtils from "lib/contentful.js";
import LanguageToggle from "components/vue/LanguageToggle.vue";
import { Suspense } from "vue";
import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />
<!-- <Alerts /> -->
<header class="z-50 w-full shadow-md  bg-white text-black" transition:persist>
	<div class="mx-auto px-5 max-w-7xl">
		<div
			class="w-full flex flex-col md:flex-row md:justify-between justify-around py-[16px] text-xs lg:text-sm font-bold">
			<OpeningHours client:only="vue" />
			<TopNav client:only="vue" /> 
		</div>
	</div>
</header>
<header class="hidden md:block relative z-50 w-full border-b-[6px] border-white bg-black text-white shadow-md" transition:persist>
	<div class="mx-auto px-5 max-w-7xl ">
		<nav class="lg:text-lg w-full flex flex-nowrap flex-row justify-items-stretch items-baseline -mb-1.5 md:h-[90px] lg:h-[110px]">
			<div class="w-[140px] lg:w-[169px] ml-0 mr-5 -pb-5 align-bottom self-end flex-shrink-0">
				<a class="" href="/"><img class="" src="/images/am-logo.svg" alt="Auckland War Memorial Museum" /></a>
			</div>

			<MegaNav client:only="vue"/>
			<div class="lg:text-lg flex flex-grow justify-end self-end mr-2 items-baseline pb-9">
			<LanguageToggle client:only="vue" />
			</div>
			
			<div class="lg:text-lg flex justify-end self-end ml-1 lg:ml-2 items-baseline pb-8">
				<SearchIcon />
			</div>
		</nav>
	</div>
</header>
