---
import "styles/global.css";

import BaseHead from "components/BaseHead.astro";
import Meganav from "components/Meganav.astro";
import { TypePage } from "types/TypePage";
import { TypeContentSection } from "types/TypeContentSection";
import { FieldsType } from "contentful";

interface Props {
  page: FieldsType;
  section?: FieldsType;
}

const { page, section } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="lofi">
  <head>
    <BaseHead page={page} section={section} />
  </head>
  <body>
    <div class="container"><Meganav /></div>
    <slot />
    <script src="../../node_modules/preline/dist/preline.js"></script>
    <!-- Add lazyload library -->
    <script
      src="https://cdn.scaleflex.it/filerobot/js-cloudimage-responsive/lazysizes.min.js"
    ></script>

    <!-- Add js-cloudimage-responsiv library -->
    <script
      src="https://cdn.scaleflex.it/plugins/js-cloudimage-responsive/latest/js-cloudimage-responsive.min.js"
    ></script>

    <link href="https://ajrctguoxo.cloudimg.io/v7/https://www.aucklandmuseum.com/CMSPages/GetCSS.aspx?stylesheetname=DynamicFooter&func=proxy" rel="stylesheet">
    <script src="https://ajrctguoxo.cloudimg.io/v7/https://www.aucklandmuseum.com/CMSPages/GetResource.ashx?scriptfile=~/CMSScripts/Custom/DynamicFooter/reactscripts.js&func=proxy"></script>
    <script src="https://ajrctguoxo.cloudimg.io/v7/https://www.aucklandmuseum.com/CMSPages/GetResource.ashx?scriptfile=~/CMSScripts/Custom/DynamicFooter/2.chunk.js&func=proxy"></script>
    <script src="https://ajrctguoxo.cloudimg.io/v7/https://www.aucklandmuseum.com/CMSPages/GetResource.ashx?scriptfile=~/CMSScripts/Custom/DynamicFooter/main.chunk.js&func=proxy"></script>
  </body>
</html>
