---
import "styles/global.css";
import Themes from "astro-themes"
import ToggleTheme from "components/common/ToggleTheme.astro";
import BaseHead from "components/common/BaseHead.astro";
import BasicScripts from 'components/common/BasicScripts.astro';
import MegaNavLayout from "components/common/MegaNavLayout.astro";
import { EntrySkeletonType } from "contentful/dist/contentful.browser.min.js";


interface Props {
  page;
  section?;
}

const { page, section } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead page={page} section={section} />
    <Themes  />
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-149E0ZFVZ8"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-149E0ZFVZ8");
    </script>

  </head>
  <body class="bg-white dark:text-slate-300 dark:bg-black">
    <!-- <ToggleTheme /> -->
    <MegaNavLayout />
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>

