---
import "styles/global.css";
import Themes from "astro-themes"
import ToggleTheme from "components/common/ToggleTheme.astro";
import BaseHead from "components/common/BaseHead.astro";
import BasicScripts from 'components/common/BasicScripts.astro';
import MegaNav from "components/vue/MegaNav.vue";
import { FieldsType } from "contentful";

interface Props {
  page: FieldsType;
  section?: FieldsType;
}

const { page, section } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Themes  />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-149E0ZFVZ8"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-149E0ZFVZ8");
    </script>
    <BaseHead page={page} section={section} />
  </head>
  <body class="bg-white dark:text-slate-300 dark:bg-black">
    <!-- <ToggleTheme /> --> 
    <MegaNav client:only="vue" />
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
    <!-- Add lazyload library -->
    <script
      src="https://cdn.scaleflex.it/filerobot/js-cloudimage-responsive/lazysizes.min.js"
    ></script>

    <!-- Add js-cloudimage-responsiv library -->
    <script
      src="https://cdn.scaleflex.it/plugins/js-cloudimage-responsive/latest/js-cloudimage-responsive.min.js"
    ></script>
  </body>
</html>

