---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gotham-narrow-500.eot?#iefix) format("embedded-opentype"), url(/fonts/gotham-narrow-500.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gotham-narrow-700.eot?#iefix) format("embedded-opentype"), url(/fonts/gotham-narrow-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gotham-narrow-ssm-400.eot?#iefix) format("embedded-opentype"), url(/fonts/gotham-narrow-ssm-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Narrow';
  src: url(/fonts/gotham-narrow-ssm-700.eot?#iefix) format("embedded-opentype"), url(/fonts/gotham-narrow-ssm-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
	padding: 1em;
  color: #000;
  font-family: 'Gotham Narrow'; }
</style>