---
import BaseLayout from "layouts/BaseLayout.astro";

import { getEntryBySlug, getEntryByID } from "lib/contentful";
import type { TypePage, TypeContentSection } from "types/index";

const { slug } = Astro.params;

var page = await getEntryBySlug<TypePage>("en-NZ", "page", slug);
var section = await getEntryByID<TypeContentSection>(
  page.fields.parentSiteSection.sys.id
);
---

<BaseLayout page={page} section={section}>
  <h1>{page?.fields.title}</h1>
  <article set:html={JSON.stringify(page?.fields.contentSections)} />
</BaseLayout>
